<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Project/selenium-webdriver-testng/src/main/java/testng/annotation">
        <classes>
            <class name="webdriver.Topic_29_Page_Ready"></class>
        </classes>
    </test>
</suite>